body {

background:rgb(170, 143, 143) ;
}


.gallery {
    display: grids;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-auto-columns: 1.5rem;
    -ms-grid-row-align: 3rem;

}
.gallery img{
  width: 100%; 
  margin-bottom: .5rem;     
}

